services:
  pihole:
    image: {{ dns_stack_pihole_image }}
    container_name: {{ dns_stack_pihole_container_name }}
    networks:
      {{ dns_stack_network_name }}:
        ipv4_address: {{ dns_stack_pihole_ipv4_address }}
    ports:
      - {{ dns_stack_pihole_dns_port }}:53/tcp
      - {{ dns_stack_pihole_dns_port }}:53/udp
      - {{ dns_stack_pihole_web_port }}:80
    environment:
      TZ: "{{ dns_stack_pihole_timezone }}"
      WEBPASSWORD: "{{ dns_stack_pihole_webpassword }}"
      DNS1: "{{ dns_stack_pihole_dns1 }}"
      DNS2: "{{ dns_stack_pihole_dns2 }}"
      WEB_PORT: "{{ dns_stack_pihole_web_port }}"
      PIHOLE_DNS_: "{{ dns_stack_pihole_dns_upstream }}"
    depends_on:
      - unbound
    restart: {{ dns_stack_pihole_restart_policy }}
    
  unbound:
    image: {{ dns_stack_unbound_image }}
    container_name: {{ dns_stack_unbound_container_name }}
    networks:
      {{ dns_stack_network_name }}:
        ipv4_address: {{ dns_stack_unbound_ipv4_address }}
    ports:
      - {{ dns_stack_unbound_dns_port }}:53/tcp
      - {{ dns_stack_unbound_dns_port }}:53/udp
    volumes:
      - ./unbound/:/etc/unbound/custom.conf.d
    restart: {{ dns_stack_unbound_restart_policy }}

networks:
  {{ dns_stack_network_name }}:
    driver: bridge
    ipam:
      config:
        - subnet: {{ dns_stack_network_subnet }}
